# Node
node_modules/

# Next.js
.next/

# Env files
.env
.env.*
**/.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Built icons (if you want to regenerate locally)
public/icons/*

# Ignore local editor files
.vscode/
.idea/
.vercel
